@using BugTracker.Resources.Views.Shared
@using BugTracker.Resources.Views.Project
@using BugTracker.Models

@{
    ViewBag.Title = _Layout.Projects;
}

<h2>@_Layout.Projects</h2>

<div class="card-deck">
    @foreach (Project project in Model)
    {
        <div>
            <div class="card" style="width: 12rem;">
                <div class="card-body bg-warning">
                    <h5 class="card-title">
                        @project.Name

                        <a href="/Project/Delete/@project.Id/">
                            <svg class="bi bi-x float-right" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </h5>
                    <p class="card-text">
                        @if (project.Team != null)
                        {
                            <span>@ProjectRes.Team: @project.Team.Name</span>
                        }
                        else
                        {
                            <span>@ProjectRes.Team: @ProjectRes.NotSelected</span>
                        }
                        <br />
                        @ProjectRes.TotalBugs: @project.Bugs.Count <a href="/Bug/Index/@project.Id/">@ProjectRes.See</a>
                    </p>
                    <a href="/Project/Edit/@project.Id/" class="btn btn-dark">@ProjectRes.Edit</a>
                </div>
            </div>
        </div>
    }

    <div>
        <div class="card" style="width: 12rem;">
            <div class="card-body bg-dark text-warning">
                <h5 class="card-title">@ProjectRes.CreateNewProject</h5>
                <a href="/Project/Create/" class="btn btn-warning">@ProjectRes.Create</a>
            </div>
        </div>
    </div>
</div>