@using BugTracker.Resources.Views.Shared
@using BugTracker.Resources.Views.Team
@using BugTracker.Models

@{
    ViewBag.Title = _Layout.Teams;
}

<h2>@_Layout.Teams</h2>

<div class="card-deck">
    @foreach (Team team in Model)
    {
        <div>
            <div class="card" style="width: 12rem;">
                <div class="card-body bg-warning">
                    <h5 class="card-title">
                        @team.Name

                        <a href="/Team/Delete/@team.Id/">
                            <svg class="bi bi-x float-right" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd" />
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </h5>
                    <p class="card-text">@TeamRes.TeamSize: @team.Users.Count()</p>
                    <a href="/Team/Edit/@team.Id/" class="btn btn-dark">@TeamRes.Edit</a>
                </div>
            </div>
        </div>
    }

    <div>
        <div class="card" style="width: 12rem;">
            <div class="card-body bg-dark text-warning">
                <h5 class="card-title">@TeamRes.CreateNewTeam</h5>
                <a href="/Team/Create/" class="btn btn-warning">@TeamRes.Create</a>
            </div>
        </div>
    </div>
</div>