@using BugTracker.Models
@{
    ViewBag.Title = "Index";
}

<div class="instruments_panel">
    <a href="/Bug/Add"><button type="button" class="btn btn-success" style="margin-right: 50px">Add</button></a>
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
</div>

<div class="bags_list table-responsive-lg">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Headline</th>
                <th scope="col">Severity</th>
                <th scope="col">ErrorType</th>
                <th scope="col">Description</th>
                @*<th scope="col">ActualResult</th>
        <th scope="col">ExpectedResult</th>
        <th scope="col">Attachment</th>*@
                <th scope="col">Action</th>
            </tr>
        </thead>
        @*<tbody>
            @foreach (Bug bug in Model)
            {
                <tr>
                    <td scope="row">@bug.Date</td>
                    <td>@bug.Headline</td>
                    <td>@bug.Severity</td>
                    <td>@bug.ErrorType</td>
                    <td>@bug.Description</td>
                    @*<td>@bug.ActualResult</td>
                    <td>@bug.ExpectedResult</td>
                    <td>@bug.Attachment</td>
                    <td>Show more/
                    <a href="/Bug/Edit/@bug.Id">Edit</a>/
                    <a href="/Bug/Delete/@bug.Id">Delete</a></td>
                </tr>
            }
        </tbody>*@
    </table>
</div>
