@using BugTracker.Resources.Views.Manage
@using BugTracker.Resources.Views.Shared
@model BugTracker.Models.IndexViewModel

@{
    ViewBag.Title = _Layout.Manage;
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt>@Manage.Password</dt>
        <dd>
            [ @Html.ActionLink(Manage.ChangePassword, "ChangePassword") ]
        </dd>
    </dl>
    <dl>
        <dt>@Manage.PersonalInfo</dt>
        <dd>[ @Html.ActionLink(Manage.ChangePersonalInfo, "ChangePersonalInfo", "Manage") ]</dd>
    </dl>
</div>
