@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "My account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <dl>
        <dt>Personal information</dt>
        <dd>[ @Html.ActionLink("Change", "ChangePersonalInfo", "Manage") ]</dd>
    </dl>
</div>
