@model BugTracker.Models.ApplicationUser
@using BugTracker.Models

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Age)</dt>
        <dd>@Html.DisplayFor(model => model.Age)</dd>
        <dt>@Html.DisplayNameFor(model => model.Country)</dt>
        <dd>@Html.DisplayFor(model => model.Country)</dd>
        <dt>@Html.DisplayNameFor(model => model.Company)</dt>
        <dd>@Html.DisplayFor(model => model.Company)</dd>
    </dl>
    Friends
    @if (Model.FriendAssociations.Where(x => x.IsAFriend == true).ToList().Count != 0)
    {
        foreach (FriendAssociation association in Model.FriendAssociations)
        {
            if (association.IsAFriend == true)
            {
                <div class="form-group col-6">
                    <div class="row">
                        <div class="col">@association.FriendId</div>
                        <button class="col btn btn-success">Remove</button>
                    </div>
                    <hr />
                </div>
            }
        }
    }
    else
    {
        if (User.Identity.Name == Model.UserName)
        {
            <p>You have no friends yet</p>
        }
        else
        {
            <p>@Model.Name @Model.Surname has no friends yet</p>
        }
    }
</div>
