@using BugTracker.Resources.Views.Shared
@using BugTracker.Resources.Views.Account
@using BugTracker.Models

@{
    ViewBag.Title = _Layout.Search;
}

<h2>@_Layout.Search</h2>

@using (Html.BeginForm("Search", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control col-md-6" type="search" name="text" placeholder="..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">@_Layout.Search</button>
    </form>
}


@if (ViewBag.Friends != null)
{
    foreach (ApplicationUser friend in ViewBag.Friends)
    {
        <div class="form-group col-6">
            <div class="row">
                <div class="col">
                    @Html.ActionLink(friend.Name + " " + friend.Surname, "Index", "Account", routeValues: new { id = friend.Id }, htmlAttributes: null)
                    <small class="text-muted col">@friend.Age</small>
                </div>
                <a href="/Account/Unfriend/@friend.Id/"><button class="btn btn-danger">@Index.Unfriend</button></a>
            </div>
            <div class="row">
                <small class="text-muted col">@friend.Company @friend.Country</small>
            </div>
            <hr />
        </div>
    }
}

@if (ViewBag.Requests != null)
{
    foreach (ApplicationUser request in ViewBag.Requests)
    {
        <div class="form-group col-6">
            <div class="row">
                <div class="col">
                    @Html.ActionLink(request.Name + " " + request.Surname, "Index", "Account", routeValues: new { id = request.Id }, htmlAttributes: null)
                    <small class="text-muted col">@request.Age</small>
                </div>
                <a href="/Account/Unfriend/@request.Id/"><button class="btn btn-warning">@Index.CancelRequest</button></a>
            </div>
            <div class="row">
                <small class="text-muted col">@request.Company @request.Country</small>
            </div>
            <hr />
        </div>
    }
}


@if (Model != null)
{
    foreach (ApplicationUser user in Model)
    {
        <div class="form-group col-6">
            <div class="row">
                <div class="col">
                    @Html.ActionLink(user.Name + " " + user.Surname, "Index", "Account", routeValues: new { id = user.Id }, htmlAttributes: null)
                    <small class="text-muted col">@user.Age</small>
                </div>
                <a href="/Account/AddFriend/@user.Id"><button class="btn btn-success">@Index.AddFriend</button></a>
                @*}*@
            </div>
            <div class="row">
                <small class="text-muted col">@user.Company @user.Country</small>
            </div>
            <hr />
        </div>
    }
}
else
{
    <p>@Index.StartSearch</p>
}


